<%= form_with model: @ipsum, local: true do |form| %>
  <p>
    <%= form.label :fabricfyme! %><br>
    <%= form.select @ipsum, (1..5) %>
  </p>

  <p>
  <%= form.submit 'Submit' %>
  </p>

  <p>
    <%= form.text_area :text %>
  </p>

<% end %>
