<!DOCTYPE html>
<html>
  <head>
    <title>Fabric Ipsum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <%= social_share_button_tag("Fabric Ipsum", :url => "http://mysite.com/foo") %>

      <footer class="footer-wrapper">
        <div class="footer-copyright">
          <div class="divide">
            <div class="donate">
              <div>
                <span class="donate-text">Love Fabric Ipsum?</span>
                <a href="https://www.paypal.me/JasmineQuach" target="_blank">
                  <button class="donate-btn">
                    Buy me Boba tea :)
                  </button>
                </a>
              </div>
            </div>


            <div class="site-credits">
              <span>Designed and Developed by Jasmine Cain
                <a href="https://twitter.com/JasmineQuach" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </span>
            </div>

          </div>
          <div class="footer-center">
            © 2018 FabricIpsum
            <br>
            <span>Dictionary Credits to
              <a href="http://www.fabricdictionary.com/" target="_blank">
                Fabric Dictionary
              </a>
            <span>
          </div>
        </div>
      </footer>
    </div>
  </body>

</html>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
